* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 25px;
    transition: background-color 0.3s, color 0.3s;
}

body.theme-default {
    background: white;
    color: black; 
}

body.theme-blue {
    background: linear-gradient(to top right, #223651, #137DC5);
    color: white;
}

body.theme-purple {
    background: linear-gradient(to top right, #230344, #FF5F6D);
    color: white; 
}

body.theme-dark {
    background: black; 
    color: white; 
}

header {
    display: flex;
     justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
    padding: 2px;
    margin-bottom: 1em;
}

.spacer {
    flex: 1; /* Takes up remaining space */
}

.theme-btn button, .menu-btn button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px double;
    border-radius: 40px;
    background-color: transparent;
    transition: all 0.3s ease;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    border-top: 1px solid white;
}

@media (max-width: 600px) {
    /* header {
        flex-direction: column;
    } */

    .spacer {
        display: none;
    }
}
